# Ignore everything
*

# Except this file itself
!.gitignore

# Un-ignore the track changes
!nvim/
!nvim/**
!i3/
!i3/**
!gtk-3.0/
!gtk-3.0/**
!kitty/
!kitty/**
!picom/
!picom/**
!polybar/
!polybar/**
!rofi/**
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!wofi/
!wofi/**
